Package: org.brandonplank.plankton
Version: 0.1
Section: Utilities
Name:plankton
Description: A wip debugger
Author: Brandon Plank
Maintainer: Brandon Plank
Depends: coreutils-bin, firmware (>= 9.0)
Architecture: iphoneos-arm

